* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gabarito", serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid #878787 .5px;
    gap: 20px;
    align-items: center;
}

.navbar__s1__title {
    color: #923CDC;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 20px;
}

.navbar__s2 input {
    border: none;
    width: 400px;
    font-size: 16px;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
}

.navbar__s4 {
    display: none;
}

.categories {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid #878787 1px;
}

.categories p {
    background-color: #923CDC;
    border: solid #923CDC 1px;
    color: white;
    padding: 6px;
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
}

.categories p:hover {
    background-color: #ffffff;
    border: solid #923CDC 1px;
    color: #923CDC;
    cursor: pointer;

}

.sale-image img {
    width: 100%;

}

.sale-image__offer {
    width: 35%;
    border: solid rgb(111, 111, 111);
    padding: 2%;
    position: absolute;
    top: 25%;
    left: 5%;
    background-color: aliceblue;
    border-radius: 6px;
    animation-name: zoom;
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.recommended {
    padding: 10px;
    width: 100%;
}

.recommended__container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-card {
    flex: grow 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img {
    height: 50%;
    width: 100%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.popular {
    padding: 10px;
    width: 100%;
}

.popular__container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    padding: 30px;
    background-color: black;
    color: azure;
}

.footer__one {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.footer__one p {
    margin: 20px;
}

.footer__two {
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: space-between;
}

/*Media Queries*/
@media screen and (max-width:800px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    .course-card {
        flex-basis: 40%;
    }

    .categories {
        display: none;
    }

    .navbar__s2,
    .navbar__s3 {
        display: none;
    }
    .navbar__s4{
        display: block;
    }
}